	<style>
	
	body{
		background: lightblue;

	}
	h1{
		color: teal;
		font-family: "Helvetica", sans-serif;
		text-align: center;
		font-size: 3em;
	}
	h2{
		color:white;
		text-align:center;
	}
	
	h3{
		font-family:"Avenir", sans-serif;
		color: white;
		font-size:1.5em;
		text-align:center;
	}
	p{
		font-family: "avenir", sans-serif;
		font-size: 1em;
		text-align:center;
	}
	body{
		font-family: "avenir", sans-serif

	}
	ul {
		text-align:center;
		color:white;
	}
	li {
		text-align:center;
	}
	a:hover {
		color:teal;
	}
	div a {
		margin:auto;
	}

	
	.sea_otters{
		border: 4px dotted white;
		margin-right: 400px;
		margin-left: 400px;

	}
	#intro{
		text-align: center;
	}
	#first-paragraph{
		color:white;
		background:teal;
		width: 45%;
		text-align: center;
		margin:auto;

	}
	#second-paragraph{
		width:50%;
		margin:auto;
		color:teal;
		font-size:1.5em;

		
	}
	#otter-pic{
		border: 3px solid white;
		margin-left:400px;
		width:50%;

	}
	
</style>